.arrow {
  margin: 0 auto 0 10px;
  display: flex;
  align-items: center;
}

.arrow-display-none {
  display: none;
}

.path-icon {
  cursor: pointer;
}

.car-icon {
  margin: 0 5px;
  height: 25px;
  width: 25px;
}

.direction {
  font-style: italic;
  color: #969696;
  font-size: 12px;
}

.direction-fetching-icon {
  width: 25px;
}