.tracks-container {
  position: absolute;
  width: 320px;
  height: 400px;
  background-color: #F8F5F2;
  opacity: 0.9;
  z-index: 2;
  margin: 10px;
  border-radius: 10px;
  box-shadow: 2px 4px 2px rgb(0 0 0 / 20%);
}