.direction-container {
  position: absolute;
  right: 0;
  width: 300px;
  height: 400px;
  background-color: #F8F5F2;
  opacity: 0.9;
  z-index: 1;
  margin: 10px;
  padding: 20px 10px;
  border-radius: 10px;
  box-shadow: 2px 4px 2px rgb(0 0 0 / 20%);
}

.direction-top-part {
  height: 35%;
  border-bottom: 1px solid #9F9C9C;
  font-size: 32px;
  font-weight: bold;
  padding: 0 10px;
}

.direction-title {
  display: inline-flex;
}

.direction-img {
  width: 40px;
  height: 40px;
  border-radius: 20px;
  background: #42C5D0 url('../../img/icons-direction.png') no-repeat center center;
  background-size: 30px;
}

.direction-pin-name {
  font-size: 18px;
  font-weight: bold;
}

.direction-arrow {
  font-size: small;
}

.direction-choice {
  width: 100%;
  height: 65%;
  padding: 10px;
  overflow: auto;
}

.display-none {
  display: none;
}