.home-hero {
  display: flex;
  height: 100vh;
  width: 100vw;
  background: url('../../img/hero.jpeg') no-repeat center left;
  background-size: auto;
  opacity: 0.9;
}

.home-title {
  display: flex;
  align-items: center;
  position: absolute;
  font-size: 1.8rem;
  top: 10px;
  right: 30px;
  color: #134161;
  text-shadow: 2px 2px 4px rgb(0 0 0 / 20%);
  font-weight: bold;
}

.home-title > img {
  width: 36px;
  height: 36px;
}

.home-slogan {
  margin: auto 60px auto auto;
  padding: 20px 40px;
  border-radius: 10px;
  background-color: rgb(255 255 255 / 70%);
}

.home-slogan > h1 {
  color: #134161;
  text-shadow: 2px 2px 4px rgb(0 0 0 / 20%);
}

.home-slogan-text {
  max-width: 500px;
  color: #585858;
}

.home-slogan > button {
  width: 160px;
  height: 45px;
  border-radius: 30px;
  border: none;
  background-color: #e8891b;
  color: #ffffff;
  font-size: 16px;
  cursor: pointer;
  margin-bottom: 10px;
  float: right;
}

.home-description {
  padding: 0 20px;
}

.home-text-left,
.home-text-right {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  padding: 40px 60px;
}

.home-inline {
  width: 100%;
  padding: 40px 60px;
}

.home-text-left > img {
  max-width: 700px;
  height: auto;
  border-radius: 10px;
}

.home-text-left-content > h3,
.home-text-right-content > h3,
.home-inline-imgs > div > h3 {
  color: #9c9c9c;
  font-weight: normal;
}

.home-text-left-content > h2,
.home-inline > h2,
.home-text-right-content > h2 {
  color: #134161;
}

.home-inline-imgs {
  display: flex;
  justify-content: space-around;
  margin: 30px 0;
}

.home-inline-imgs > div {
  width: 30%;
  font-size: 20px;
  text-align: center;
}

.home-inline-imgs > div > img {
  width: 100%;
  margin-top: 10px;
}

.home-text-right > img {
  width: 50%;
  margin: 0 20px;
}

.auth-modal {
  position: fixed;
  display: flex;
  justify-content: center;
  top: 0;
  width: 100vw;
  height: 100%;
  background-color: rgb(0 0 0 / 50%);
}

.auth-container {
  position: fixed;
  top: 80px;
  width: 400px;
  border-radius: 20px;
  padding: 30px 40px 20px 40px;
  background-color: #ffffff;
  box-shadow: 0px 4px 12px rgb(0 0 0 / 20%);
  color: #737373;
}

.auth-title {
  font-size: 24px;
  text-align: center;
  margin: 0 0 20px 0;
}

.auth-container > form {
  margin: 20px 0;
}

.auth-separate-line {
  display: flex;
  align-items: center;
  justify-content: center;  font-size: 16px;
  text-align: center;
  margin: 10px;
  font-weight: normal;
}

.straight-line {
  border-top: 1px solid #9c9c9c;
  width: 100px;
  margin: 0 10px;
}

.auth-button-container {
  display: flex;
}

.auth-form > input {
  height: 45px;
  width: 100%;
  border: 1px solid #e4e4e4;
  outline: none;
  border-radius: 10px;
  margin: 10px 0;
  font-size: 18px;
  padding: 10px;
  color: #646464;
}

.auth-form > input::placeholder {
  color: #b3b3b3;
  font-size: 14px;
  font-style: italic;
}

.auth-form > input[type='submit'] {
  background-color: #134161;
  color: #F1EBE4;
  border-radius: 20px;
  cursor: pointer;
}

.auth-form > input[type='submit']:hover {
  background-color: #264e6b;
}

.google-auth {
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  background-color: #ffffff;
  border: 1px solid #e4e4e4;
  border-radius: 20px;
  padding: 10px 20px;
  margin: 20px 0 10px 0;
}

.google-auth > img {
  position: absolute;
  left: 10px;
}

.google-auth:hover {
  background-color: #f5f5f5;
}

.switch-form {
  cursor: pointer;
  text-align: center;
  margin: 30px 0 10px 0;
  font-size: 14px;
  font-weight: normal;
}

.switch-form > span {
  font-weight: bold;
  margin: 0 5px;
}

.switch-form:hover {
  color: #e8891b;
}

.alert {
  color: #e05a5a;
  font-size: 14px;
  font-weight: normal;
  text-align: center;
}

.user-state-loading {
  position: fixed;
  top: 0;
  width: 100vw;
  height: 100vh;
  background: rgb(255 255 255 / 70%) url('../../img/icons_dashboard_loading.gif') no-repeat center center;
  background-size: 70px;
  z-index: 1;
}

@media only screen and (min-width: 1200.01px) {
  .home-slogan {
    width: 40%;
    min-width: 700px;
  }

  .home-description {
    width: 1200px;
    margin: auto;
  }
}

@media only screen and (max-width: 1200px) and (min-width: 600.01px) {
  .home-hero {
    height: 80vw;
  }

  .home-slogan {
    width: 60%;
    min-width: 500px;
  }

  .home-description {
    width: auto;
  }

  .home-text-left-content,
  .home-text-right-content {
    margin: 20px;
  }

  .home-text-left {
    flex-wrap: wrap-reverse;
  }

  .home-text-left > img {
    width: 80vw;
  }

  .home-text-right {
    flex-wrap: wrap;
  }

  .home-text-right > img {
    width: 100%;
  }
}

@media only screen and (max-width: 600px) {
  .home-hero {
    background-size: cover;
    height: 50vh;
  }

  .home-slogan {
    max-width: 300px;
    margin: auto;
    padding: 10px 20px;
  }

  .home-slogan > h1 {
    font-size: 1.5rem;
  }

  .home-slogan-text > h3 {
    margin: 8px;
    font-size: 1rem;
  }

  .home-description {
    padding: 0;
  }

  .home-text-left {
    flex-wrap: wrap-reverse;
  }

  .home-text-right {
    flex-wrap: wrap;
  }

  .home-text-left, .home-text-right {
    padding: 20px;
  }

  .home-text-left-content > h2,
  .home-inline > h2,
  .home-text-right-content > h2 {
    font-size: 1.3rem;
    text-align: center;
  }

  .home-text-left-content > h3,
  .home-text-right-content > h3 {
    font-size: 1rem;
  }

  .home-inline {
    padding: 20px;
  }

  .home-inline-imgs {
    display: initial;
  }

  .home-inline-imgs > div {
    width: 100%;
    margin: 20px 0;
  }

  .home-text-left > img,
  .home-text-right > img {
    width: 100%;
  }

  .auth-container {
    max-width: 320px;
  }

  .auth-title {
    font-size: 22px;
    margin-bottom: 10px;
  }

  .auth-form > input {
    margin: 5px 0;
  }

  .auth-separate-line {
    margin: 5px;
  }

  .google-auth {
    margin: 15px 0 10px 0;
  }

  .switch-form {
    margin: 20px 0 10px 0;
  }
}